@use 'sass:meta';
@use 'sass:map';

$icon-size: 20px;

@mixin icon-base($size: $icon-size) {
  content: '';
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  top: -2px;
  margin-right: 2px;
}

.Layout:not(.custom-nav-page-class,.custom-book-class) .vp-doc a:not([href^='https://img.shields.io/'])
{
  // 默认外部链接图标
  &:is([target='_blank'], [href^='./'], [href^='../'])::before {
    @include icon-base;
    background-image: url(https://api.iconify.design/heroicons-solid:link.svg?color=%23409eff);
  }

  // 定义站点图标映射表
  $site-icons: (
    'vitepress.dev': 'https://vitepress.dev/vitepress-logo-mini.svg',
    'github.com': 'https://api.iconify.design/mdi:github.svg',
    'bilibili.com': 'https://api.iconify.design/mingcute:bilibili-line.svg?color=%2300a8df',
    'csdn.net': (
      image: 'https://g.csdnimg.cn/static/logo/favicon32.ico',
      size: 18px
    )
  );

  // 自动生成站点图标样式
  @each $site, $config in $site-icons {
    &[href*='#{$site}']::before {
      @if meta.type-of($config) == 'map' {
        @include icon-base(map.get($config, 'size'));
        background-image: url(map.get($config, 'image'));
      } @else {
        @include icon-base;
        background-image: url($config);
      }
    }
  }
}

// 暗黑模式统一处理
.dark .vp-doc a::before {
  filter: brightness(0.8);
}
